.auth-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 16px;
}

.auth-btn {
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.auth-btn.signup {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: #fff;
}

.auth-btn.login {
  background: rgb(0, 255, 255);
  color: #000;
  border: none;
}
.auth-btn.logout {
  background: rgb(0, 255, 255);
  color: #000;
  border: none;
}
