.homepage-root {
  @apply flex flex-col h-screen m-0 bg-black box-border;
}

.homepage-main-wrapper {
  @apply flex flex-1 min-h-0;
}

.homepage-sidebar {
  @apply flex-none w-[260px] border-r border-gray-700 p-2.5 flex flex-col min-h-0 box-border;
}

.homepage-content {
  @apply flex-1 p-4 flex flex-col min-h-0 overflow-y-auto overflow-x-hidden box-border scrollbar-dark;
}
