.playlist-section {
  margin-top: 5px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.playlist-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}
.playlist-carousel-wrapper {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.carousel-btn {
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.carousel-btn:hover {
  background-color: #f3f4f6; /* light hover */
}

.carousel-btn:active {
  transform: scale(0.95);
}
.playlist-carousel {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* always show 4 cards */
  /* gap: 0px; */
  width: 100%;
}

.playlist-card {
  display: "flex";
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.playlist-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.playlist-card img {
  width: 120px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}
.playlist-name {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
