.song-card {
  background: #111;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.song-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.2);
}

.song-card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.song-card-info {
  margin-top: 10px;
}
.song-title {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.song-artist {
  color: #aaa;
  font-size: 12px;
}
